services:
    -
        class: GacelaProject\PhpstanExtension\SameLevelModuleComparator
        arguments:
            modulesNamespace: %gacela.modulesNamespace%

    -
        class: GacelaProject\PhpstanExtension\ExcludedNamespaceChecker
        arguments:
            excludedNamespaces: %gacela.excludedNamespaces%

    -
        class: GacelaProject\PhpstanExtension\EnforceModuleBoundariesForMethodCallRule
        arguments:
            moduleComparator: @GacelaProject\PhpstanExtension\SameLevelModuleComparator
        tags:
            - phpstan.rules.rule

parameters:
    excludedNamespaces: []

parametersSchema:
    gacela: structure([
        modulesNamespace: string()
        excludedNamespaces: listOf(string())
    ])
